PORT=8001
sessionCookieEncryptionKey=anystring (e.g- abcdef)

# POSTGRESQL
DB_HOST=hostname
DB_USER=username
DB_PASS=password
DB_NAME=database name
DB_PORT=5432

# MONGODB (Uncomment if using MONGODB and COMMENT THE TOP PART)
mongoDbURI= mongodburl (can be found in connection)

# Uncomment and set to true for Heroku
# DB_SSL=true if heroku

# if using elephant sql, get the db credentials from the following format-
# postgres://username:userpassword@DB_HOST:5432/yourdatbasename

# Google oauth
GOOGLE_CLIENT_ID=clientID for google auth api
GOOGLE_CLIENT_SECRET=clientSecret for google auth api