<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <style>
      body{
          font-family: arial;
          margin: 0;
      }
      nav{
          background: #ff5353;
          padding: 20px 10px;
      }
      nav ul{
          max-width: 960px;
          margin: 0 auto;
          padding: 0;
      }
      nav li{
          list-style-type: none;
          display: inline-block;
          margin: 0 10px 0 0;
      }
      nav a{
          color: #fff;
          font-size: 18px;
          background: rgba(255,255,255,0.2);
          text-decoration: none;
          padding: 10px;
          display: block;
      }
      main, header{
          max-width: 960px;
          margin: 30px auto;
          padding: 0 10px;
          color: #333;
      }

  </style>
  </head>

  <body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if (userObj) { %>
                <li><a href="/users/auth/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/users/login">Login</a></li>
            <% } %>
            <li><a href="/users/getusers">All Users</a></li>
        </ul>
    </nav>
    <header>
        <h1>WELCOME TO <%=userObj.username %>'s NODE TEMPLATE</h1>
        <h2>Homepage</h2>
        <h3>Clicking on <strong>All Users</strong> will show an error message because no <strong>users</strong> table is connected to a POSTGRESQL Database</h3>
    </header>
    <main>
        <img src = "<%= userObj.thumbnail %>" />
        <p>Modify this file in Views/index.ejs however you like :)</p>
    </main>
</body>
</html>