<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
            .google-btn{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                background: #ff5353;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
              <li><a href="/">Homepage</a></li>
              <li><a href="/users/auth/google">Login</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using...</h1>
            <ul>
              <li>
                <h2>CREATE A .env FILE IN THE ROOT DIRECTORY FOLLOWING .env.example FILE.</h2>
                <p>Fill in credentials of Either POSTGRESQL or MONGODB.</p>
                <hr>
              </li>
              <li>
                <h2>Connect Your Database and create a 'users' table to have access to All Users.</h2>
                <li><strong>"All Users"</strong> Button uses POSTGRESQL's <strong>SELECT * FROM users;</strong> query. So, it will not work if you connect only MongoDB.</p></li>
                <li><p><strong>db</strong> is already passed to the <u>userRoutes</u>, <u>userService</u> and <u>userRepository</u> by default.</p></li>
                <li><p>Adjust the query statement in the usersRepository.js file in the <strong>repository</strong> folder if you are using POSTGRESQL.</p></li>
                <li><p><strong>db2</strong> is MongoDB. If you want access to it, pass this to the userRoute, userService and userRepository and write queries.</p></li>
                <hr>
              </li>
              <li>
                <h2>Adjusting USER LOGIN System</h2>
                <li><p>Line 36 to Line 47 of Server.js file is commented. Uncomment once you have your own Google Client ID and Google Client Secret.</p></li>
                <li><p>Without these credentials, the SignUp Process will not work!</p></li>
                <li><p>Different code in the passport.js file determine in which database will the user information be saved.</p></li>
                <hr>
              </li>
              <li>
                <h2>Finishing Setup for Google SignUp</h2>
                <li><p>Create the <strong>users</strong> table</p></li>
                <li><p>Fill Google Client ID and Google Client Secret in the .env file</p></li>
                <li><p>Uncomment the appropriate lines in server.js file and passport.js file (different for POSTGRESQL and MONGODB)</p></li>
                <li><p>Click the Google+ button and login using your Google Account.</p></li>
                <li><p>Click ALL USERS to see all the users in your database who have logged into your server using their GOOGLE Account.</p></li>
              </li>
            </ul>
        </header>
        <main>
            <p>Without connecting any database and modifying the server.js file and passport.js file in <strong>service folder</strong>, it will keep spinning.</p>
            <a class="google-btn" href="/users/auth/google">Google+</a>
        </main>
    </body>
</html>